---
  layout: default
  title: Test Plan Template
---
<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Test Plan Template</h1>
        <h2>Introduction</h2>
        <p>This is the master test plan for the...the broad scope is...</p>

        <h2>Scope</h2>
        <h3>Functional</h3>
        <h3>Non-functional</h3>

        <h2>Risks</h2>

        <h2>Approach</h2>

        <h2>Deliverables</h2>
        <h3>Scenarios</h3>
        <h3>test charters</h3>
        <h3>jenkins results</h3>

        <h2>People/ training</h2>


      </div>
    </div>
</div>
